.banner {
    background-color: $background-color;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img_back.jpg);
}

.hero {
    text-align: center;
    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white-color;

        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    &__button {
        background-color: $link-active-color;
        border: none;
        color: $button-color;
        cursor: pointer;
        border-radius: 4px;
        padding: 10px 32px 10px 32px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        margin-top: 33px;
        transition: $animation-250ms, background-color $animation-250ms;
    }
    &__button:hover,
    &__button:focus {
        background-color: #1e85da;
        transition-duration: $transition-duration;
        box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
    }
}

@media screen and (max-width: 767px) {
    .banner {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../img/mobile-bg.jpg);
        background-size: cover;
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .banner {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../img/mobile-bg@2x.jpg);
            }
        }
    }
}
@media screen and (min-width: 768px) and(max-width: 1200px) {
    .banner {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../img/tablet-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .banner {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../img/tablet-bg@2x.jpg);
            }
        }
    }
}
@media screen and (min-width: 200px) and(max-width: 1200px) {
    .hero {
        &__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 26px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $white-color;
        }
    }
}
@media screen and (min-width: 1200px) and(max-width: 1920px) {
    .banner {
        &__title {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $white-color;
        }
    }
}
