.team {
    background-color: $button-color;
    text-align: center;
    padding: 94px 0;
    &__head {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: $link-color;
        margin-bottom: 56px;
        text-align: center;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: $link-color;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: $text-color;
        margin-bottom: 10px;
    }

    // &__list {
    //     display: flex;
    //     justify-content: space-between;
    // }
    &__item {
        background-color: $white-color;
        border-radius: 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    // &__item:not(:last-child) {
    //     margin-right: 30px;
    // }

    &__wrap {
        text-align: center;
        padding: 30px 0;
    }

    &__name {
        margin-bottom: 10px;
    }

    &__box {
        display: flex;
        justify-content: center;
    }

    &__link {
        width: 44px;
        height: 44px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__link:not(:last-child) {
        margin-right: 10px;
    }

    &__link:hover,
    &__link:focus {
        background-color: $link-active-color;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition-duration: $transition-duration;
        transition-timing-function: $transition-timing-function;
    }

    &__link:hover svg,
    &__link:focus svg {
        fill: $white-color;
        transition-duration: $transition-duration;
        transition-timing-function: $transition-timing-function;
    }

    &__link svg {
        height: 20px;
        width: 20px;
        fill: $social-icon-color;
    }
}
.team {
    @include respond-to(mobile) {
        &__item {
            margin-bottom: 30px;
        }
    }
}
