.footer-social {
    margin-top: 15px;
    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
        margin-bottom: 20px;
    }
    &__list {
        // display: flex;
        // justify-content: space-between;
    }
    &__svg {
        width: 20px;
        height: 20px;
        fill: $white-color;
    }
    &__link {
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    &__link:hover,
    &__link:focus {
        background-color: $link-active-color;
        transition-duration: $transition-duration;
    }
}
@media screen and (min-width: 1200px) and(max-width: 1920px) {
    .footer-social {
        &__list {
            display: flex;
            justify-content: space-between;
        }
    }
}
