.submit-footer {
    // margin-left: 90px;
    margin-top: 15px;
    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
    }
    &__inpute {
        height: 50px;
        width: 358px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: $background-color;
        padding-left: 16px;
        // margin-right: 16px;
        color: $white-color;
    }
    &__wrapper {
        // display: flex;
        // margin-top: 20px;
    }
    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        width: 200px;
        height: 50px;
        padding: 10px 30px;
        background-color: $link-active-color;
        color: $white-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
    &__svg {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-100%, 50%);
    }
    &__btn:hover,
    &__btn:focus {
        background-color: #1e85da;
        transition-duration: $transition-duration;
    }
}
