.header {
    padding-top: 25px;
    padding-bottom: 24px;
    border-bottom: 1px solid $line-color;
    &__wrapper {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        display: none;
    }
}

@include respond-to(mobile) {
    padding-left: 15px;
    padding-right: 15px;
}
