.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 93px;
    &__menu {
        display: flex;
    }
    &__text:not(:last-child) {
        margin-right: 50px;
    }
    &__link {
        color: $link-color;
        transition: $animation-250ms;
    }
    &__link:hover,
    &__link:focus {
        color: $link-active-color;
    }
    &__link--current {
        position: relative;
        color: $link-active-color;
    }
    &__link--current::after {
        content: "";
        display: block;
        background-color: $link-active-color;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -33px;
    }
}

@include respond-to(tablet) {
    .navigation {
        margin-left: auto;
    }
}
