.header__logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $link-active-color;
}
.header__studio {
    color: $black-color;
}
// @include respond-to(desktop) {
//     .header__logo {
//         margin-left: auto;
//         margin-right: auto;
//     }
// }

@media screen and (min-width: 1200px) {
    .header__logo {
        margin-left: auto;
        margin-right: auto;
    }
}
