p {
    color: var(--text-color);
}
body {
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    color: var(--link-color);
}
.hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

