$breakpoints: (
    "mobile": (
        min-width: 200px,
    ),
    "tablet": (
        min-width: 767px,
    ),
    "desktop": (
        min-width: 1900px,
    ),
    "desktop-x1": (
        min-width: 1919px,
    ),
) !default;
